body {
  margin: 0;
  padding: 0;
}

aside {
  display: flex;
  flex-direction: column;
  position: fixed;
  height: 100%;
  width: 300px;
  background-color: bisque;
}

.tasks-container {
  margin-left: 300px;
}